@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family: 'Poppins', sans-serif;

$primary: #1B3856;
/* $bg: #F2F2F2; */
$bg: white;
$accent: #2369f6;
$grey: #7d7c83;

html {
    font-family: $font-family !important;
}
body {
    background-color: $bg !important;
    font-family: $font-family !important;
    margin-top: 70px;
}
h1 {
    font-size: 50px !important;
    margin-bottom: 30px !important;
    color: #000 !important;
    line-height: 1.1em !important;
    letter-spacing: -.035em !important;
    font-weight: 800 !important;
}
.padding-top {
    padding-top: 60px;
}
.v-centerText {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-weight: 800;
    color: black;
}

.card-img-top {
        width: 100%;
        height: 25vh;
        max-height: 250px;
    object-fit: cover;
}
h1, h2,h3 {
    font-weight: 800 !important;
}
.whitetext {
    color: white !important;
}
html, body {
    height: 100%;
    display: grid;
  }
  
  .full-height {
    height: 100%;
   margin: auto
    
  }
.langButtonSelected{
    background: $accent !important;
    color: white !important;
    border-radius: 0 !important;
    border: 1 solid $accent !important;
}
.exiticon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-dark:hover, .MuiButton-root:hover, .MuiButton-contained:hover, .btn-secondary:hover{
    box-sizing: border-box;
    background-color: white !important;
    border: 1px solid $accent !important;
    color: $accent !important;
    

}
.overflow-x-scroll {
    overflow-x: scroll;
}
.reservationmodal {
    .konvajs-content {
    margin: 0 auto;
    } 
    canvas {
    max-width: 1000px !important;
    max-height: 1000px !important;
    }
    .konvajs-content {
    max-width: 1000px !important;
    max-height: 1000px !important;
    } 
}
.noradius {
    border-radius: 0 !important;
}
.langButton{
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.homecard {
    border-radius: 10px !important;
    background-color: #fafafc !important;
    border: 1px solid #ebecf5 !important;
}
.MuiLinearProgress-bar {
    background-color: $accent !important;
}
.MuiLinearProgress-barColorPrimary{
    background-color: $accent !important;
}

.MuiMobileStepper-root{
  background-color: white !important;  
  padding: 0 !important;
  width: 100%;
}
.Toastify__toast-container
{
    z-index: 100000 !important;
}
.MuiIconButton-colorSecondary:hover {
    background-color: rgba(35, 105, 8246, 0.04) !important;
}
.btn-danger:hover {
    border: 1px solid #FB3640 !important;
    background-color: white !important;
    color : #FB3640!important;
}
.fullHeightBottomDrawer {
   
    padding-top: 1rem;
     padding-bottom: 3rem; 
    border-radius: 20px 20px 0px 0px;
}
.over{
    z-index: 9999 !important;
}
.mobileStepper {

    width: 100%;

}
.gridListroot {
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
    overflow: 'hidden';
  }
.gridList {
    flex-wrap: 'nowrap';
    // Promote the list into his own layer on Chrome. This cost memory but helps keeping high FPS.
    transform: 'translateZ(0)',
  }
.gridListtitleBar {
    background:
      'linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)',
  }

body {
    position: relative;
}
.nested{
    padding-left: 10px,
  }
.background-image {
    background: url('/bgimg.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 65vw;
    height: 100vh;
    position: absolute;
    top: 0;
    border-radius: 0 100px 100px 0;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}
.MuiCheckbox-colorSecondary.Mui-checked {
    color: $accent !important;
}
a , .nav-link {
    text-decoration: none;
    color: black !important;
}
.customnavbar {
    justify-content:"center"; 
    align-items: "center";
    background-color: white !important;
    box-shadow: rgba(0,0,0,.11) 0 1px !important;
    color: black !important;

    .MuiSvgIcon-root {
        color: $accent !important;
    }
}
.MuiDrawer-root {
    z-index: 999999999999 !important ;
}
.MuiAppBar-root{
    z-index: 99999999999 !important;
}
.MuiToolBar-root{
    z-index: 99999999999 !important; 
}
.ReactModal__Overlay{
    z-index: 9999 !important;
}
.ril-toolbar{
    margin-top: 3.5rem;
}
.navbarlogo {
    width: 5rem;
}
.buttoneditpencil{
    a {
        color: white !important;
    }
    a:hover {
        color: $accent !important;
    }
    
}
.button , .btn , button {
    background-color: $accent;
    border: none;
    border: 1 solid $accent !important;
    
}
.buttonstyle { 
    box-shadow: 0 15px 15px -8px rgba(0,118,254,.3) !important;
}
.MuiChip-root {
    margin-right: 0.5rem !important;
}
.MuiChip-colorPrimary{
    background-color: $accent !important;
}
.react-add-to-calendar__dropdown
{
    ul {
        list-style: none;
        color: white !important;
        padding-inline-start: 0px;
    }
    li {
        color: white;
    }
    a {
        color: white;
    }
}
.menudrawer {
    width: 80%;
    z-index: 9999999 !important;
    border-radius: 0 20px 20px 0;
}

.home-picture {
    color: white;
}
.color-primary {
    color: $accent;
}
.cancelbutton {
    position: fixed !important;
    right: 20px !important;
    top: 20px !important;
}
.insideNavbar 
 {
    .MuiListItemIcon-root {
        color: black;
    }
    .MuiListItemText-root {
        color: black !important;
    }
    
}
.loginbutton {
    color: $accent !important;
}
.card {
     color: grey;
     -webkit-box-shadow: 10px 10px 36px -26px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 10px 36px -26px rgba(0,0,0,0.43);
    box-shadow: 10px 10px 36px -26px rgba(0,0,0,0.43);
    border: none;
    border-radius: 0px;
    margin-top: 10px;
}

.modalMargin {
     margin-top: 5rem; 
}
 .detail, .profile {
    margin-bottom: 100px;
}
.restaurants {
  margin-bottom: 80px;
}
.filters {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 50px;
    background-color: white;
    align-items: center;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}
.floatright{
    float: right;
}
.row{
    margin-right: 0px; 
     margin-left: 0px;
}

.detail-image{
    height: 100%;
}

Form .col-3 {
    display: flex;

}
.react-add-to-calendar__button{
    color: white !important;
}
.react-add-to-calendar__button:hover{
    color: $accent !important;
}
.fab {
    position: fixed !important;
    bottom: 1rem !important;
    right: 1rem !important; 
    background-color: #2369f6 !important;
    z-index: 9999 !important;
}

.fabButton {
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important; 
    width: 100%;
    z-index: 9999 !important;
}
.fullLengthButton {
    border-radius: 0px !important;
    border: none !important;
    width: 100% !important;
    background-color: $accent !important;
    color: white !important; 
    border-radius: 0 !important;
    border: 1 solid $accent !important;
}
.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12) !important;
}
.nested {
    padding-left: 2.5rem !important;
  }
.ToggleViewFilters {
    display: none;
}
.filterRow {
    margin-top: 10px;
    margin-bottom: 10px;
}
.card {
    display: block;
    top: 0px;
    position: relative;
    background-color: white;
    z-index: 0;
    overflow: hidden;
  }
  
  .form-controll {
      width: 100%;
      margin: 0.5rem;
      display: inline;
  }
  .filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .filter-bar {
      background-color: white;
      margin-bottom: 1.5rem;
  }

 .keuken-row {
     height: 15%;
     min-height: 50px;
 }
 .scroll-horizontal {
     overflow: visible !important;
 }
.bottomdrawer {
    max-height: 80vh  !important;
    border-radius: 20px 20px 0 0;
}
.listDrawer {
    width: 100%;
}
a:hover {
    text-decoration: none !important;
}
.custommodal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1050;
    height: 50%;
    width: 50%;
    overflow: hidden;
    outline: 0;
}
.customCard {
    background-color: white;
}
.customImg {
    height: 50%;
    width: 50%;
}
.fade {
    transition: opacity 0.15s linear;
}
.blackButton {
    width: 100% !important;
    background-color: black !important;
    color: white !important;
    border-radius: 0 !important;
    border: 1 solid $black !important;
}
.blueButton {
    width: 100% !important;
    background-color: $accent !important;
    color: white !important;
    border-radius: 0 !important;
    border: 1 solid $accent !important;
}
.outlinedButton {
    width: 100%;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: gray !important;
    margin-top: 10px !important;
}
.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-dialog{
    max-width: 700px;
}
.dashboard {
    margin-top: 2rem;
    padding-top: 60px;
}
.dashboardcard {
    border-radius: 20px;
    padding: 1rem;

}

.modal {
    width: 100%;
}
.modal-dialog {
    max-width: 1000px;
}
.ant-steps {
    padding: 20px !important;
}

.hiddenCanvas {
    display: none;
}
.faciliteiten{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #E2E2E2;
}
.vrijeplaats {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #2369F6;
}
.geserveerdeplaats {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #7A7A7A;
}
.geslecteerdeplaats {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #FB3640;
}
.onbeschikbareplaats {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-color: #031D44;   
}
.pagination {
    margin: 0 auto;
}
/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 768px;

input[type="date"]
{
    display:block;

     -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em; 

}
@media (max-width: $breakpoint-tablet) {

.section {
    height: 100%;
}
.background-image {
    background: url('/bgimg.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    border-radius: 0 0 50px 50px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
}

body {
    background-color: $bg !important;
    font-family: $font-family !important;
    padding-top: 60px;
    
}
.homepage{
    margin-bottom: 50px;
    margin-top: 2rem;
}
.indekijker {
    display: none;
} 
.konvajs-content{
    max-height: 400px !important;
    overflow: hidden;
    
}
.carouselcol {
    margin: 0 !important;
    padding: 0 !important;
}
.padding-top {
    padding-top: 0;
}
.dashboard {
    padding-top: 0px;
}

}